{% assign linkUrlArray = link.url | split: ',' %}
{% assign compiledMenu = compiledMenu | concat: linkUrlArray  %}
<li class="{{ class }} inline-block px-2" data-forced="1" data-reorder="{{ reorder }}" data-menu="{{link.url}}">
    <a href="{{ link.url }}" data-id="{{link.url}}" title="{{ link.title }}" class="mb-2 text-1.4">
      {{ link.title }}
    </a>
    {% assign childlinks = link.links %}
    {% if childlinks.size > 0 %}
        {% assign force = true %}
        <ul class="subcat inline-block" data-menu="{{link.url}}" data-forced="1" data-reorder="{{ reorder }}">
            {% render "filter-menu-render", links: childlinks, force: force %}
        </ul>
        {% assign force = false %}
    {% endif %}
</li>