<mega-menu>
  <div class="color-scheme-3">
    <div class="items-center justify-center hidden pt-4 lg:flex bg-[#1F4489]">
      <div class="flex justify-between h-full">
        {%- for block in blocks -%}
          {%- if block.settings.item_link != blank -%}
            <a
              href="{{ block.settings.item_link }}"
              class="no-underline hover:text-brand-orange p-4 flex items-center leading-[1.2] pb-8 text-1.6 font-semibold transition-all"
              data-index="{{ block.settings.title | handleize }}"
            >
              {{ block.settings.title | escape }}
            </a>
          {%- else -%}
            <span
              class="p-4 flex items-center leading-[1.2] pb-8 text-1.6 font-semibold transition-all hover:text-brand-orange"
              data-index="{{ block.settings.title | handleize }}"
            >
              {{ block.settings.title | escape }}
            </span>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

    {%- for block in blocks -%}
      <div
        class="
          hidden menu-item bg-white shadow-sm absolute top-full w-full backdrop-blur-3xl bg-white/98 backdrop-saturate-200 left-0 right-0 z-3 transition-all duration-100 ease-in-out
            {% if block.settings.col_1_img or block.settings.col_linklist_1 != blank -%}
              py-16
            {% else %}
              py-0
          {%- endif -%}
        "
        data-sub-menu
        data-sub-{{ block.settings.title | handleize }}
        data-main="{{ block.settings.title | handleize }}"
      >
      {% assign links = linklists[block.settings.submenu].links %}
      {% assign three_level_nav = true %}
      {% if three_level_nav %}
        <div class="site-nav__childlist">
          <ul class="site-nav__childlist-grid">
            {% if links != blank %}
              {% for top_level in links %}
                <li class="site-nav__childlist-item">
                  <a href="{{ top_level.url }}"
                    class="site-nav__child-link site-nav__child-link--parent text-black"
                    {% if top_level.current %} aria-current="page"{% endif %}
                    {% if top_level.links != blank %} 
                     data-toplevel-link="{{ top_level.title | handleize }}"
                    {% endif %}
                  >
                    {{ top_level.title | escape }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
          <div class="third-level__dropdown--group">
            {% if links != blank %}
              {% for top_level in links %}
                {% if top_level.links != blank %}
                  <div class="third-level__dropdown {% if forloop.first %}active{% endif %}" data-toplevel-submenu="{{ top_level.title | handleize }}">
                    <ul>
                      {% for child_link in top_level.links %}
                        <li class="link-group">
                          <a href="{{ child_link.url }}" class="child-link text-black"
                          {% if child_link.current %} aria-current="page"{% endif %}>
                            <span class="site-nav__label">{{ child_link.title | escape }}</span>
                          </a>
                            <ul class="grandchild-list">
                              {% if child_link.links != blank %}
                                {% for grandchild_link in child_link.links %}
                                  <li>
                                    <a href="{{ grandchild_link.url }}" class="text-black">
                                      <span>{{ grandchild_link.title | escape }}</span>
                                    </a>
                                  </li>
                                {% endfor %}
                              {% endif %}
                            </ul>
                        </li>
                      {% endfor %}
                      </ul>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>

      {% else %}
        <ul>
          {% for childlink in link.links %}
            <li>
              <a href="{{ childlink.url }}"
              class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}"
              {% if childlink.current %} aria-current="page"{% endif %}
            >
                <span class="site-nav__label">{{ childlink.title | escape }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
    {%- endfor -%}
  </div>
</mega-menu>

<script type="text/javascript" src="{{ 'megamenu.min.js' | asset_url }}" defer="defer"></script>