{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {% comment %}
  .section-{{ section.id }} .overflow-hidden img {
    filter: sepia(1) !important;
  }
{% endcomment %}
  
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
	<div class="page-width">
		<div class="heading--wrapper">
			<h2 class="section-heading">{{ section.settings.section_title }}</h2>
		</div>
	</div>

	<div class="page-width offscreen-right">
		<div class="lg:grid lg:grid-cols-6 flex gap-8 pb-8 flex-nowrap lg:overflow-x-hidden overflow-x-scroll lg:pr-0 md:pr-20 pr-6">
			{% for block in section.blocks %}
				<div class="min-w-[256px] lg:min-w-0 flex-shrink-0">
					<a class="full-unstyled-link group relative" href="{{ block.settings.link }}">
						<div class="border border-solid border-[#EEEEEE] h-auto relative">
							<div class="overflow-hidden">
								<img
								src="{{ block.settings.link_image | image_url: height: 256 }}"
								alt="{{ block.settings.link_title | escape }}"
								width="256"
								height="256"
								loading="lazy"
								class="object-cover w-full h-full group-hover:scale-105 transition-all duration-500 aspect-square"
                                  style="filter: sepia(0.3);"
								>
							</div>
							<div class="absolute -bottom-[1px] -right-[1px]">
								<svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M62.9998 62.6667V0.637695L0.970703 62.6667H62.9998Z" class="transition-all fill-brand-orange group-hover:fill-brand-blue" />
								</svg>
								{% render 'icon-arrow-white', classes: 'absolute right-[13%] top-1/2' %}
							</div>
						</div>
						<p class="text-1.4 mt-3">{{ block.settings.link_title }}</p>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Link Blocks",
		"settings": [
			{
				"type": "text",
				"id": "section_title",
				"label": "Section Title"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_top",
				"default": 40
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_bottom",
				"default": 52
			}
		],
		"blocks": [
			{
				"type": "block",
				"name": "Link Block",
				"settings": [
					{
						"type": "url",
						"id": "link",
						"label": "Block Link"
					},
					{
						"type": "image_picker",
						"id": "link_image",
						"label": "Image"
					},
					{
						"type": "text",
						"id": "link_title",
						"label": "Title"
					}
				]
			}
		],
		"max_blocks": 6,
		"presets": [
			{
				"name": "Link Blocks",
				"blocks": [
					{
						"type": "block"
					},
					{
						"type": "block"
					},
					{
						"type": "block"
					},
					{
						"type": "block"
					},
					{
						"type": "block"
					},
					{
						"type": "block"
					}
				]
			}
		]
	}
{% endschema %}